#wakeUpTimeSelector, #lunchTimeSelector, #sleepTimeSelector {
    padding: 10px 0px;
    font-weight: bold;
}
#body {
    font-family: 'Brush Script MT', cursive;
    background-color: #68d84e;
}
div.wakeUpTime, div.lunchTime, div.sleepTime {
    text-transform: uppercase;
    font-weight: bold;
}
#sportTimeButton {
    background-color: #222222;
    text-transform: uppercase;
    width: 250px;
    height: 70px;
    font-family: 'Brush Script MT', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 20px;
}
#eventImage {
    width: 600px;
    height: 600px;
    margin: 0px ;
}
#eventMessage {
    margin: -80px 0 100px 0;
    color: white;
    font-family: 'Brush Script MT', cursive;
    font-size: 40px;
    text-transform: uppercase;
}
#page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #68d84e;
    border-radius: 5px;
}
header {
    font-size: 40px;
    font-family: 'Brush Script MT', cursive;
    text-transform: uppercase;
}
h4 {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    text-transform: capitalize;
}
h4 #clock {
    font-size: 36px;
    display: block;
    padding: 5px 0px;
}
#logOut {
    position: absolute;
    top: 8px;
    right: 16px;  
    border-radius: 25px;
    padding: 20px; 
    width: 200px;
    height: 80px;  
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 20px;
}
#add {
    border-radius: 50%;
    font-size: 70px;
    color: red;
    background-color: lightcoral;
    width: 80px;
    height: 80px;
}
blockquote:before { content: '"';}
blockquote:after { content: '"';}